node_modules/*
**/*.log
**/bower_components/*
.DS_Store
config.js
**/*.bak

builder/node_modules/*
builder/package-lock.json

# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

lowpoweradmin/mainapp/__pycache__/
lowpoweradmin/mainapp/**/__pycache__/

lowpoweradmin/static/js/*.min.js
lowpoweradmin/staticfiles/*

lowpoweradmin/lowpoweradmin/__pycache__/
lowpoweradmin/lowpoweradmin/**/__pycache__/

Pipfile.lock

# Visual Studio Code # 
# .vscode/* 
.vscode/settings.json 
.vscode/tasks.json 
.vscode/launch.json 
.vscode/extensions.json 
.history


Lib/*
Scripts/*
pyvenv.cfg

env/*
.env