<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
        {% load static %}
        {% load env_extras %}

<html lang="en">
<head>
  <meta charset="UTF-8" />
  <META NAME="DESCRIPTION" CONTENT="โปรแกรมวิเคราะห์ทางไฟฟ้า, ภาควิชาวิศวกรรมไฟฟ้าและคอมพิวเตอร์ คณะวิศวกรรมศาสตร์, Lower-Voltage System Analysis Tools ">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Low-Voltage System Analysis Tools</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'js/main.min.js' %}"></script>
    <script src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!--<script src="/socket.io/socket.io.js"></script>-->
    <!--<link rel="stylesheet" href="{% static 'css/main.css' %}"> -->

</head>
<body>
    <div>Hello, Client</div>
    <!---->
    <input type="text" name="txtMesssage" id="txtMesssage" />
    <input type="button" value="Send" id="btnSubmit"> 
    <input id="hidMaxClient" value="{{ MAXIMUM_CLIENT }}" type="hidden" />
    <input id="hidLimit" value="{% get_env_var 'LIMIT' %}" type="hidden" />
    {% csrf_token %}
    <div id="lblStatus">จำนวนผู้ใช้งานทั้งหมด </div>
    <div id="totalClient"></div>
</body>

<script>

  //var socket = io.connect("localhost", {port: 3000});
  var socket = io('http://localhost:3000');
  //socket = io("http://localhost:3000");
  var submit = document.getElementById('btnSubmit');
  
  //--put here-->
  socket.on('hi', function(msg) {
    console.log("Message from Server:"+msg);
  });
  // ---->


  socket.on('announcer', function(data) {
    console.log("Message from Server:");
    console.log("The next queue is:"+data.next);
    console.log("Client token is:"+$('input[name=csrfmiddlewaretoken]').val());
    console.log("wating clients is:"+data.wating_clients);

    if((data.wating_clients==1)&(data.next==$('input[name=csrfmiddlewaretoken]').val())){
      //change lable text, set to 'พร้อมคำนวณ!!!'
      $("#lblStatus").html('พร้อมคำนวณ!!!');
      $("#totalClient").html('');
    }else{
      //update lable total_client (Display client)
      $("#lblStatus").html('จำนวนผู้ใช้งานทั้งหมด');
      $("#totalClient").html(data.wating_clients);
    }

    //decide to ena or disable btnSubmit
    if(data.next!=''){
      // have queue
      applyReady(data.next);
    }

  });

  socket.on('party', function(clients) {
    console.log("Update clients:");

    if((clients==1)){
      //change lable text, set to 'พร้อมคำนวณ!!!'
      $("#lblStatus").html('พร้อมคำนวณ!!!');
      $("#totalClient").html('');
    }else{
      //update lable total_client (Display client)
      $("#lblStatus").html('จำนวนผู้ใช้งานทั้งหมด');
      $("#totalClient").html(clients);
    }

  });


  submit.addEventListener('click', function(e) {
    console.log("click !!");
    console.log("MinClient :"+ $("#hidMaxClient").val());
    console.log("Limit :"+ $("#hidLimit").val());

    var input = document.getElementById('txtMesssage');

    if (input.value!="") {
      // var data =JSON.stringify({
      //  message: input.value
      // });
      //console.log("Message Sent:"+input.value);
      //socket.emit('message', data);


      // Waiting result
      // css on process bg.

      // prepair datasets
      var arguments={
        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
        vpu: 0,
        fixmvasc: 1,
        tab: 2,
        percenz: 3,
        type: 'standard',
        length: 4.0,
        msg: input.value,
      }
      console.log("Message Sent to process:"+arguments);
      
      socket.emit('startGame', {
        from: "Client",
        source: '{{ IP }}',
        datasets: arguments
      }, function (data) {

        // process

        // show data 

        console.log('Got it', data);
        console.log('Result is ready.', data);
        
        // disable btn
        $("#btnSubmit").attr('disabled','disabled'); 
        console.log('disabled');


        // Popup dialog to force rejoin if want to re-calculate.
        // force to redirect page, (join queue again)

      });

      // clear input element
      input.value = '';
      $("#lblStatus").html('');
      $("#totalClient").html('');

    }
  });


  // first render, this script enable
  // first touch
  socket.emit('joidRoom', {
          // register to server, for count user active in current pages
				  ip: '{{ IP }}',
				  token: $('input[name=csrfmiddlewaretoken]').val()
	}, function (data) {
				  console.log('push data to server!');
          //notify number of concurrency
          console.log('Server Health is');
          console.log(data);
          //
          
          //wating_clients:allClients.length,
          //connected:numUsers
          
          var wating_queue = data.wating_clients;
          var clients = data.connected;

          $("#totalClient").html(wating_queue);

          //sweetalert use to notification.


          //check btn Accessiable.
          applyAccessiable(wating_queue);

	});

  // first render, this script to check numOfUser.
  /*socket.emit('getNumOfPlayers', function (data) {
      console.log('Current Users =', data);
      numOfUser=data;
      maxClient=$("#hidMaxClient").val();
      
      if(numOfUser>maxClient){
        
        $("#btnSubmit").attr('disabled','disabled'); //disabled
        console.log('disabled');
      }else{
        
        $("#btnSubmit").removeAttr('disabled');// ena btn start
        console.log('enabled');
      }	
      
  });*/

</script>
<script type="text/javascript">
  
//  $(document).ready(function () {
//     console.log("Onload");
//  });

function applyAccessiable(current_q){
   maxClient=$("#hidMaxClient").val(); //Maximum client to avaliable join to queue.
   
   if(current_q>maxClient){
        //disabled
        $("#btnSubmit").attr('disabled','disabled'); 
        console.log('disabled');
   }else{
        // ena btn start
        $("#btnSubmit").removeAttr('disabled');
        console.log('enabled');
  }	
}

function applyReady(token){

   if(token==$('input[name=csrfmiddlewaretoken]').val()){
        // ena btn start
        $("#btnSubmit").removeAttr('disabled');
        console.log('enabled');
        $("#lblStatus").html('พร้อมคำนวณ!!!');
        $("#totalClient").html('');   
        
        // notify user
        Swal.fire({
          title: 'Server Ready.',
          text: 'ถึงตาคุณแล้ว',
        });
  }
}

</script>
</html>