<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
        {% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <META NAME="DESCRIPTION" CONTENT="โปรแกรมวิเคราะห์ทางไฟฟ้า, ภาควิชาวิศวกรรมไฟฟ้าและคอมพิวเตอร์ คณะวิศวกรรมศาสตร์, Lower-Voltage System Analysis Tools ">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Low-Voltage System Analysis Tools</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'js/main.min.js' %}"></script>
    <script src="http://localhost:3000/socket.io/socket.io.js"></script>
    <!--<script src="/socket.io/socket.io.js"></script>-->
    <!--<link rel="stylesheet" href="{% static 'css/main.css' %}"> -->

</head>
<body>
    <div>Hello, Client</div>
    <!---->
    <input type="text" name="txtMesssage" id="txtMesssage" />
    <input type="button" value="Send" id="btnSubmit"> 
</body>

<script>
  //var socket = io();
  //var socket = io.connect("localhost", {port: 3000});
  var socket = io('http://localhost:3000');
  //socket = io("http://localhost:3000");
  var submit = document.getElementById('btnSubmit');
  
  //--put here-->
  socket.on('hi', function(msg) {
    console.log("Message from Server:"+msg);
  });
  // ---->

  submit.addEventListener('click', function(e) {
    console.log("click !!");
    var input = document.getElementById('txtMesssage');

    if (input.value) {
       var data =JSON.stringify({
        message: input.value
       });
      console.log("Message Sent:"+input.value);
      socket.emit('message', data);
      input.value = '';
    }
  });

  // Implement Enter event on fire (Exercise.)


</script>
<script type="text/javascript">
  
//  $(document).ready(function () {
//     console.log("Onload");
//  });
</script>
</html>