<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
        {% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <META NAME="DESCRIPTION" CONTENT="โปรแกรมวิเคราะห์ทางไฟฟ้า, ภาควิชาวิศวกรรมไฟฟ้าและคอมพิวเตอร์ คณะวิศวกรรมศาสตร์, Lower-Voltage System Analysis Tools ">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Low-Voltage System Analysis Tools</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'js/main.min.js' %}"></script>
    
    <!--<link rel="stylesheet" href="{% static 'css/main.css' %}"> -->
</head>
<body>
    <div>Heelo</div>
</body>
<script type="text/javascript">
//  $(document).ready(function () {
//     console.log("Onload");
//  });
</script>
</html>